#files {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#files .title {
    margin-top: 0;
    padding: var(--top-element-padding);

    font-size: 1.8em;
}

#files .description {
    width: 50%;

    position: relative;
    padding: var(--top-padding) 0;
    margin: 0;

    text-align: center;
}

#files .description::before {
    content: '';

    width: 75%;
    height: 1px;

    position: absolute;
    top: 0;
    left: calc(25% / 2);

    background-color: rgba(0, 0, 0, .25);
}

#files .file-manager {
    width: 95%;
    height: 70vh;

    display: flex;
    justify-content: space-between;
}

#files .file-manager .fm-container {
    width: 100%;

    display: flex;
    flex-direction: column;

    position: relative;

    border-radius: 10px;
    overflow: hidden;

    box-shadow: var(--floating-box-shadow);
}

#files .file-manager .fm-container.directories {
    width: 20%;
}

#files .file-manager .fm-container > .label {
    width: 100%;
    height: 8vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    margin: 0;

    font-size: 1.4em;
    background-color: var(--nav-bar-header-background);
    color: white;
}

#files .file-manager .fm-container > .label + * {
    margin-top: 8vh;
}

#files .file-manager .fm-container .body {
    width: 100%;
    height: 85%;

    overflow: scroll;
}

#files .file-manager .fm-container .body .dropdown {
    display: flex;
    flex-direction: column;
}

#files .file-manager .fm-container .body .dropdown > .dir-display {
    min-width: max-content;
    display: flex;
    align-items: center;

    margin: 5px 5px 0 5px;

    border-radius: 10px;

    list-style: none;
}

#files .file-manager .fm-container .body .dropdown .dir-display:hover {
    background-color: rgba(234, 240, 250, 0.75);
}

#files .file-manager .fm-container .body .dropdown .dir-display::-webkit-details-marker,
#files .file-manager .fm-container .body .dropdown .dir-display::marker {
    display: none;
}

#files .file-manager .fm-container .body .dropdown .dir-display .dropdown-button {
    width: 50px;
    height: 50px;

    font-size: 1.5em;
    background-color: transparent;
    border: none;
}

#files .file-manager .fm-container .body .dropdown .directory-node {
    width: 100%;
    display: flex;
    flex-direction: column;

    text-decoration: none;
}

#files .file-manager .fm-container .body .dropdown .display {
    min-width: max-content;
    width: calc(100% - 25px);

    display: flex;
    align-items: center;
    margin: 0;

    color: black;
    border-radius: 10px;

    text-wrap: none;
}

#files .file-manager .fm-container .body .dropdown .children > .display {
    width: calc(100% - 50px);
    padding: 16px 20px 16px 20px;

    margin: 5px 5px 0 5px;
}

#files .file-manager .fm-container .body .dropdown .children > .display:hover {
    background-color: rgba(234, 240, 250, 0.75);
}

#files .file-manager .fm-container .body .display .icon {
    margin-right: 5px;
    color: var(--nav-bar-footer-background);
}

#files .file-manager .fm-container .body .children {
    padding-left: 15px;
}