:root {
    --home-transition: 0.4s;
}

#home {
    background-color: var(--nav-bar-header-background);
}

#home .header {
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    padding: var(--top-element-padding);

    background-color: white;
}

#home .header .icon {
    margin-right: 10px;
}

#home .header .text {
    width: 50%;
}

#home .header .text .title {
    margin-top: 0;
}

#home .header .screen-stats {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#home .header .screen-stats .screen-count,
#home .header .screen-stats .time-left {
    margin: 0;
}

#home .presentation {
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;
    padding: 0 var(--side-padding);

    background: url("../img/home-header-wave.svg") center no-repeat;
    background-size: cover;
}

#home .presentation::before {
    content: '';
    width: 50%;
    height: 1px;

    background-color: rgba(0, 0, 0, .25);
}

#home .presentation .choose-text {
    font-size: 1.5em;
}

#home .presentation .cards {
    width: 100%;
    height: 85%;

    display: flex;
    justify-content: space-around;
}

#home .presentation .cards .card {
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: white;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .75);
}

#home .presentation .cards .card.files {
    background: linear-gradient(135deg, #ec0000, #ff6a6a);
}

#home .presentation .cards .card.animation-scheme {
    background: linear-gradient(135deg, #9500ec, #ad6aff);
}

#home .presentation .cards .card.screens {
    background: linear-gradient(135deg, #0099ec, #6ac6ff);
}

#home .presentation .cards .card .title {
    width: 100%;
    height: 15%;

    margin: 0;

    text-align: center;
    font-size: 2em;

    border-bottom: solid 1px rgba(255, 255, 255, .5);
}

#home .presentation .cards .card .description {
    text-align: center;
    font-size: 1.1em;
    line-height: 2;
}

#home .presentation .cards .card .redirect {
    color: var(--nav-bar-background);
    text-decoration: none;
    font-size: 1.2em;

    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .75);
}

#home .presentation .cards .card .redirect:hover {
    transform: none;
}

#home .presentation .cards .card.files .redirect:hover {
    background-color: #ffe0e0;
}

#home .presentation .cards .card.animation-scheme .redirect:hover {
    background-color: #f4e0ff;
}

#home .presentation .cards .card.screens .redirect:hover {
    background-color: #E0FFFFFF;
}